@model IEnumerable<SOMA.Models.ApplicationTable>

<style>
* {
    font-size: 17px;
}
span {
    font-size: 20px;
    font-weight: bold;
}
</style>

<div class="">
    <nav class="navbar position-fixed fixed-top shadow" style="height:80px; background-color:white !important;">
        <ul class="nav pull-right top-nav">
            <li>
                <span><img src="~/img/dit-logo-transparent.png" alt="..." width="70" class="rounded-circle">
                    <span class="text-white" style="color:white;">  john </span>
                </span>
            </li>
        </ul>
    </nav>
    @* <div id="slider" class="sidebar">
        <i class="close bg-success"></i>
        <ul class="navbar-nav side-nav">
            <li class="active">
                <a asp-action="Apply" asp-controller="Home"><i class="fa fa-fw fa-dashboard"></i> <i class="hide-s">Dashboard</i></a>
            </li>
            <li>
                <a asp-action="profile" asp-controller="Home"><i class="fa fa-fw fa-users"> </i><i class="hide-s">Student list</i></a>
            </li>
            <li>
                <a asp-action="Views_status" asp-controller="Home"><i class="fa fa-fw fa-user"> </i> <i class="hide-s">Profile</i></a>
            </li>
            <li>
                <a><i class="fa fa-fw fa-road"> </i> <i class="hide-s">Logout</i></a>
            </li>
        </ul>
    </div> *@
    <div id="main">
        <div class="container">
            <div class="screen">
                <h2>List Of Applicants</h2>
                <div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Course Name</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <th scope="row">@Model.ElementAt(i).Id</th>
                                    <td>@Model.ElementAt(i).User.Fname</td>
                                    <td>@Model.ElementAt(i).User.Lname</td>
                                    <td>@Model.ElementAt(i).CourseName</td>
                                    <td>
                                        <a class="btn btn-success" asp-action="Approve" asp-route-id="@Model.ElementAt(i).Id">Approve</a>
                                        <a class="btn btn-danger" asp-action="Disapprove" asp-route-id="@Model.ElementAt(i).Id">Disapprove</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
