@model SOMA.Models.ApplicationTable

<style>
    * {
        font-size: 17px;
    }

    span {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div class="">
    <nav class="navbar position-fixed fixed-top shadow" style="height:80px; background-color:white !important;">
        <ul class="nav pull-right top-nav">
            <li>
                <span><img src="~/img/dit-logo-transparent.png" alt="..." width="70" class="rounded-circle">
                <span class="text-white" style="color:black;"> @Model.User.Fname @Model.User.Lname </span></span>
            </li>
        </ul>
    </nav>
    <div id="slider" class="sidebar">
        <i class="close bg-success"></i>
        <ul class="navbar-nav side-nav">
            <li class="active">
                <a asp-action="Apply" asp-controller="User"><i class="fa fa-fw fa-dashboard"></i> <i class="hide-s">Dashboard</i></a>
            </li>
            <li>
                <a asp-action="Profile" asp-controller="Home"><i class="fa fa-fw fa-user"></i><i class="hide-s"> My Profile</i></a>
            </li>
            <li>
                <a asp-action="Views_status" asp-controller="Home"><i class="fa fa-fw fa-road"></i> <i class="hide-s">Results</i></a>
            </li>
            <li>
                <a asp-action="Logout" asp-controller="Home"><i class="fa fa-fw fa-road"></i> <i class="hide-s">Logout</i></a>
            </li>
        </ul>
    </div>
    <div id="main">
        <div class="container">
            <div class="screen">
                <div class="card shadow border-3 col-md-14" style="border-left:solid 5px grey">
                    <div class="card-body">
                        <h3 class="card-title">Applicant Profile</h3>
                        <p>Please complete the registration by filling below required information.</p>
                    </div>
                </div><br>
                <div class="card shadow">
                    <div class="card-header">
                        <span><i class="fa fa-edit"></i></span>
                        <span>(@Model.User.Fname @Model.User.Lname) - Email Address: @Model.User.Email Personal Information (Mandatory fields ***)</span>
                    </div>
                    <div class="card-body">
                        <div class="h4">Applicant Personal Information</div>
                        <form asp-action="Profile" asp-controller="Home" method="post">
                            <input type="hidden" asp-for="UserId" />
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label for="FullName">First Name</label>
                                    <input type="text" class="form-control" value="@Model.User.Fname" disabled>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" class="form-control" value="@Model.User.Lname" disabled>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="BirthDate">Birth Date</label>
                                    <input type="date" asp-for="BirthDate" class="form-control">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="FormIVIndexNo">Form IV Index No</label>
                                    <input type="text"  class="form-control" value="@Model.User.FourNumber" disabled>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="PhoneNumber">Phone Number</label>
                                    <input type="text" class="form-control" value="@Model.User.PhoneNumber" disabled>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="ApplicantionLevel">Applicantion Level</label>
                                    <select asp-for="ApplicantionLevel" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>Diploma</option>
                                        <option>Bachelor Degree</option>
                                        <option>Masters</option>
                                    </select>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="EmailAddress">Email Address</label>
                                    <input type="email" class="form-control" value="@Model.User.Email" disabled>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="CourseName">Course Name</label>
                                    <select asp-for="CourseName" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>Bachelor of Engineering in Computer Engineering</option>
                                        <option>Bachelor of Engineering in Electrical Engineering</option>
                                        <option>Bachelor of Engineering in Civil Engineering</option>
                                        <option>Bachelor of Engineering in Electronics and Telecommunication Engineering</option>
                                    </select>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="POBOX">P.O.BOX</label>
                                    <input type="text" asp-for="POBOX" class="form-control">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="ApplicantRegion">Applicant Region</label>
                                    <input type="text" asp-for="ApplicantRegion" class="form-control">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="Religion">Choose Religion</label>
                                    <input type="text" asp-for="Religion" class="form-control">
                                </div>
                                <div class="col-md-5 form-group">
                                    <label for="MaritalStatus">Choose Marital Status</label>
                                    <select asp-for="MaritalStatus" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>Single</option>
                                        <option>Married</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
